<p id="notice"><%= notice %></p>

<h1>Listing Blog Posts</h1>

<div class="row">
  <% @blog_posts.each do |blog_post| %>
    <div class="col s12 m6">
      <div class="card indigo darken-4">
        <div class="card-content white-text">
          <span class="card-title"><%=blog_post.title%></span>
          <i>by <%= link_to blog_post.user.name, "/user_posts/#{blog_post.user.id}" %></i>
          <p><%= blog_post.blog_entry[0..250] %>...</p>
          <%= link_to 'Read more', blog_post %>
        </div>
        <div class="card-action">
          <%= link_to 'Show', blog_post %>
          <% if blog_post.user == current_user %>
            <%= link_to 'Edit', edit_blog_post_path(blog_post) %>
            <%= link_to 'Destroy', blog_post, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>